<xf:title>Forum Management</xf:title>

<xf:form action="{$createUrl}" data-skip-overlay-redirect="false" ajax="false">

<div class="block-container">
<div class="block-body">
    <h2 class="block-formSectionHeader"><span class="block-formSectionHeader-aligner">Create your own forum</span></h2>
    <xf:textboxrow name="forum_name" label="Name" explain="The name will appear in the URL (i.e. website.com/f/title), and must only contain letters and numbers and must be unique."/>
    <xf:textboxrow name="forum_title" label="Title" explain="The name will appear in the forum list and other areas of the board."/>
    <xf:textboxrow name="forum_desc" label="Description" explain="Appears in search results and social media links. 500 characters max."/>
    <xf:afterhint>THIS IS THE AFTER HINT</xf:afterhint>

    <xf:radiorow name="forum_type" label="Type">
        <xf:option value="public" selected="true" hint="Anyone can view">Public</xf:option>
        <xf:option value="restricted" hint="Anyone can view, but only approved users can post">Restricted</xf:option>
        <xf:option value="private" hint="Only approved users can view and post">Private</xf:option>
    </xf:radiorow>

</div>

<xf:submitrow icon="save" sticky="true" />

</div>
</xf:form>